<a href="https://colab.research.google.com/github/andresvc21/Random_Practice_ML/blob/main/Wines_Classification_Homework_M1_Andres_Villegas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1
Create a small neural network in keras that classifies the different types of winee. They labels are the columns called "Class".

Print the history of the neural network with the loss, validation loss, accuracy and validation accuracy

In [1]:
!wget https://storage.googleapis.com/nicksdemobucket/wines.csv

--2022-01-21 17:03:51--  https://storage.googleapis.com/nicksdemobucket/wines.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 64.233.189.128, 108.177.97.128, 108.177.125.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|64.233.189.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10957 (11K) [application/octet-stream]
Saving to: ‘wines.csv’

wines.csv           100%[===================>]  10.70K  --.-KB/s    in 0s

2022-01-21 17:03:51 (68.9 MB/s) - ‘wines.csv’ saved [10957/10957]

In [2]:
import pandas as pd
df = pd.read_csv('wines.csv')
df.head()

   Class  Alcohol  Malic_acid  ...   Hue  OD280-OD315_of_diluted_wines  Proline
0      1    14.23        1.71  ...  1.04                          3.92     1065
1      1    13.20        1.78  ...  1.05                          3.40     1050
2      1    13.16        2.36  ...  1.03                          3.17     1185
3      1    14.37        1.95  ...  0.86                          3.45     1480
4      1    13.24        2.59  ...  1.04                          2.93      735

[5 rows x 14 columns]

##Data Exploration

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Class                         178 non-null    int64
 1   Alcohol                       178 non-null    float64
 2   Malic_acid                    178 non-null    float64
 3   Ash                           178 non-null    float64
 4   Alcalinity_of_ash             178 non-null    float64
 5   Magnesium                     178 non-null    int64
 6   Total_phenols                 178 non-null    float64
 7   Flavanoids                    178 non-null    float64
 8   Nonflavanoid_phenols          178 non-null    float64
 9   Proanthocyanins               178 non-null    float64
 10  Color_intensity               178 non-null    float64
 11  Hue                           178 non-null    float64
 12  OD280-OD315_of_diluted_wines  178 non-null    float64
 13  Proline                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB
None

No null values. Good!

In [5]:
df.describe()

            Class     Alcohol  ...  OD280-OD315_of_diluted_wines      Proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean     1.938202   13.000618  ...                      2.611685   746.893258
std      0.775035    0.811827  ...                      0.709990   314.907474
min      1.000000   11.030000  ...                      1.270000   278.000000
25%      1.000000   12.362500  ...                      1.937500   500.500000
50%      2.000000   13.050000  ...                      2.780000   673.500000
75%      3.000000   13.677500  ...                      3.170000   985.000000
max      3.000000   14.830000  ...                      4.000000  1680.000000

[8 rows x 14 columns]

I deal with with difference between min and max later